.Delete { 
    display:  flex ;
    align-items: center ;
    cursor : pointer ; 
}


.Delete:hover .icon path { 
    fill : var(--c-pale-red)
}


.Delete:hover .text { 
    color : var(--c-pale-red)
}

.icon { 
    margin-right : 5px ;
}

.text { 
    color : var(--c-soft-red ) 
}
