
.container {
    font-size: 1.6rem;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 3% 0;

   
  }
  
  .comment {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: row dense;
    grid-row-gap: 1rem;
    grid-column-gap: 3rem;
  
    background-color: var(--c-white);
    border-radius: 0.5rem;
    margin: 1.2rem 0;
    padding: 2rem;
  }

  
  .counter {
    grid-column: 1/2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: var(--c-light-gray) ;
    padding: 10px 5px;
    border-radius: 5px;
    width: 3.3rem;
    align-self: center;
  }
  
  .counter--score {
    font-weight: 500;
    margin: 1.4rem 0;
    color : var(--c-moderate-blue)
  }
  .details {
    grid-column: 2/3;
    grid-row: 1/2;
  
    display: flex;
    align-items: center;
  }
  .image {
    max-width: 3rem;
    max-height: 3rem;
  }
  
  .image > * {
    width: 100%;
    height: 100%;
  }
  .name {
    font-weight: 500;
    color: var(--c-dark-blue) ;
  }
  
  .time{
    color: var(--c-light-grayish-blue);
  }
  
  .name,
  .time{
    margin-left: 1.2rem;
  }
  
  .icons {
    grid-column: 3/4;
    grid-row: 1 / span 2;
  }
  .content {
    grid-column: 2/span 2;
    grid-row: 2/3;
    color: var(--c-grayish-blue);
    font-size: 1.5rem;
    line-height: 25px ;
    padding-right : 20px ;
  }


  .reply-block { 
     border-left : 2px solid var(--c-light-gray) ; 
     max-width: 650px ; 
     margin-left : auto ; 
     padding-left : 50px ; 
      
  }
  .comment.reply { 
    margin-left : auto ; 
  }

  .you { 
    background: var(--c-moderate-blue) ; 
    padding: 2px 5px ; 
    border-radius : 3px ; 
    margin  : 0 5px ;
    color : var(--c-white) 


  }

  .icons { 
    display: flex ;
    align-items : flex-start
  }

  .replyingTo { 
    color : var(--c-moderate-blue) ; 
    font-weight: 500 ;
  }



  @media (max-width : 700px ) { 
    .comment { 
       grid-template-columns: 1fr 1fr ;
       
    }
    .details { 
      grid-column : 1/-1 ; 
      grid-row : 1/2 ; 
      flex-wrap: wrap ;
    }
    .counter { 
      grid-column : 1 /2 ; 
      grid-row : 3/4 ;
    }
    .content { 
      grid-column:  1/-1 ; 
      grid-row : 2/3 ;
      padding-right : 0 ;
      text-align: justify ;
      hyphens: auto;
    }
    .icons { 
      grid-column : 2/3 ; 
      grid-row : 3/4 ;
      display: flex ; 
      justify-content: right ;
      align-items : stretch
    }

    .counter {
      flex-direction: row ;
      align-items: center ;
      background-color: var(--c-light-gray) ;
      padding: 1rem 1.5rem ;
      width : fit-content;
    }



    .counter--score {
      font-weight: 500;
      margin : 0 2rem ; 
      color : var(--c-moderate-blue)
    }
    
  .replyBlock { 
    padding-left : 2rem ; 
  }

  }
  